html,
body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ebe1e1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 8px;
  margin-left: 10px;
}

a {
  color: hsl(223, 61%, 38%);
}

a:hover,
a:active {
  color: hsl(223, 61%, 20%);
}

.image {
  margin-top: 2em;
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
}

.nav-btn {
  margin: 5px;
  color: grey;
  text-decoration: none;
}

.nav-btn:hover {
  color: darkgrey;
}

.nav-btn:active {
  color: darkgrey;
}

p {
  margin: 8px;
}

nav {
  margin-top: 1em;
  height: 2rem;
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}

.tab {
  margin-left: 2rem;
}

.tab-active>.nav-btn {
  color: black;
}

.content-container {
  background-color: #ebe1e1;
  padding: 1em;
  padding-top: 3em;
  border-style: hidden;
  border-width: 0px;
  // margin-bottom: 0px;
  display: flex;
  justify-content: center
}

.content {
  text-align: left;
  width: 50%;
}

.not-footer {
  flex: 1;
}

footer {
  margin: 0px;
  background-color: rgb(28, 20, 20);
  color: whitesmoke;
  width: 100%;
  flex-shrink: 0;
  height: auto;
  font-size: 0.85em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verse {
  width: 80%;
}

.copyright {
  font-size: small;
  margin: 4px;
}

@media(max-width: 1000px) {
  .content {
    width: 75vw;
  }
}

@media (max-width: 800px) {

  .content,
  .image {
    width: 80vw;
  }

  nav {
    flex-flow: column wrap;
  }
}

@media (max-width: 500px) {

  nav {
    height: 4rem;
    flex-flow: column wrap;
  }

  .content,
  .image {
    width: 80vw;
  }
}