<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link's `href` needs changed to ./static/style.css for live flask server i think-->
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <title>Disciples of Jesus</title>
</head>

<body>
    {% macro create_page(title, active, text) %}
    <header>
        <div class="navbar">
            <div class="tab {% print('tab-active') if active == 'tab-home' %}" id="tab-home">
                <a class="nav-btn" href="/" class="tab-text">About Us</a>
            </div>
            <div class="tab {% print('tab-active') if active == 'tab-about' %}" id="tab-about">
                <a class="nav-btn" href="/about" class="tab-text">What We Believe</a>
            </div>
            <div class="tab {% print('tab-active') if active == 'tab-contact' %}" id="tab-contact">
                <a class="nav-btn" href="/contact" class="tab-text">Contact</a>
            </div>
            <div class="tab {% print('tab-active') if active == 'tab-av' %}" id="tab-av">
                <a class="nav-btn" href="/av" class="tab-text">Resources</a>
            </div>
        </div>
    </header>
    <div class="spacer">
        <h1 class="page-title" id="top">
            {{ title }}
        </h1>
        <!-- <div class="scroll"><a href="#content">Scroll</a></div> -->
    </div>
    <main>
        <div id="content-container" class="content-container">
            <div id="content" class="content">
                {{ text|safe }}
            </div>
        </div>
    </main>
    <footer>
        <div class="verse">
            <p>
                "You are the light of the world. A city that is set on a hill cannot be hidden …
                Let your light so shine before men,
                that they may see your good works and glorify your Father in heaven.”
                -Jesus of Nazareth
            </p>
        </div>
        <div class="bottom">
            <p class="copyright">Copyright © Disciples of Jesus, 2022</p>
            <a href="#top" class="up">Return to top</a>
        </div>
    </footer>
    {% endmacro %}
</body>
</html>