<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='
    We are a community of disciples of Jesus in Pittsburgh, Pennsylvania, following Jesus with loving hearts
    and living out all His teachings in faithful obedience.
    '>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>About Our Beliefs</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="tab" id="tab-home">
                <a class="nav-btn" href="/" class="tab-text">About Us</a>
            </div>
            <div class="tab tab-active" id="tab-about">
                <a class="nav-btn" href="/about.html" class="tab-text">What We Believe</a>
            </div>
            <div class="tab" id="tab-contact">
                <a class="nav-btn" href="/contact.html" class="tab-text">Contact</a>
            </div>
            <div class="tab" id="tab-av">
                <a class="nav-btn" href="/av.html" class="tab-text">Resources</a>
            </div>
        </div>
    </header>
    <div class="spacer">
        <h1 class="page-title" id="top">
            Our Beliefs
        </h1>
        <!-- <div class="scroll"><a href="#content">Scroll</a></div> -->
    </div>
    <main>
        <div id="content-container" class="content-container">
            <div id="content" class="content">
#include "../md/about.html"
            </div>
        </div>
    </main>
#include "footer.html"
</body>
</html>