<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://disciples-of-jesus.org{{ current_path }}"
  <meta name='description' content='
  We are a community of disciples of Jesus in Pittsburgh, Pennsylvania, following Jesus with loving hearts
  and living out all His teachings in faithful obedience.
  '>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <title>Disciples of Jesus</title>
</head>

<body>
  <picture class="bg-img">
    <source class="bg-img" srcset="/bg.avif" type="image/avif">
    <source class="bg-img" srcset="/bg.webp" type="image/webp">
    <img class="bg-img" src="/bg.jpg" alt="Pittsburgh at night">
  </picture>
  <nav id="top">
  {% block nav %}{% endblock nav %}
  </nav>
  <div class="spacer">
    <h1 class="page-title">
      {% block header %}{% endblock header %}
    </h1>
    <!-- <div class="scroll"><a href="#content">Scroll</a></div> -->
  </div>
  <main>
    <div id="content-container" class="content-container">
      <div id="content" class="content">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </main>
  <footer>
    <div class="verse">
      <p>
        "You are the light of the world. A city that is set on a hill cannot be hidden …
        Let your light so shine before men,
        that they may see your good works and glorify your Father in heaven."
        -Jesus of Nazareth
      </p>
    </div>
    <div class="bottom">
      <span class="copyright">Copyright © Disciples of Jesus, 2022</span>
      <span class="separator"> │ </span>
      <a href="#top" class="up">Return to top</a>
    </div>
  </footer>
</body>
</html>
